<div class="container-fluid mt-5" style="background-color: aliceblue;">
    <div class="row">
        <div class="col" style="padding-top: 2%;">
            <h2 style="color: rgba(36, 10, 65, 0.699);">Write to Us</h2><br>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
            </div><br>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Company Name">
            </div><br>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
            </div><br>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="3"></textarea>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="col">
            <img src="../../../assets/contactus.jpg" alt="" style="width: 70%; height: 70%; padding-top: 10%;">
        </div>
    </div>
</div><br><br>


      <div class="container mt-5">
        <div class="row"  style="font-style: oblique;">           
            <div class="col" >
                <h3>NeST Digital Corporate Office</h3><br>
                <p >Plot No. 2, Cochin Special Economic Zone(CSEZ),<br> Kakkanad, Cochin  682 037, India<br> 
                Phone: +91-484-661 4300</p>
            </div>

            <div class="col">
                <h3>For Business related Enquiries</h3><br>
                <p >Email: sales.nestdigitalnestgroup.net<br><br>

                    Ph: +91-484-6701000, +91484-4203333</p>
            </div>
        </div>
      </div>


      <div class="container mt-5">
        <div class="row" style="font-style: oblique;">
            <h2>NeST Digital Development Centers</h2><br><br>
            <div class="col">NeST Towers, University<br> junction,Kalamassery, Kochi,<br> Kerala,India - 682 033<br><br>

                Ph: +91-4846701000</div>
            <div class="col">
                NeST Tech Park, NeST Valley,Near<br>
                 Infopark, Infopark P.O,Kakkanad,<br> 
                 Kochi, Kerala,India - 682042<br><br>
                 Ph:+914844203333
            </div>
            <div class="col">
                Unit 4, 1st Floor, Cresent 1,Prestige<br>
                 Shantiniketan,Sadaramangala<br>
                  Village,Whitefield, Bangalore -<br>
                   560048
            </div>
            <div class="col">
                A-3, Periyar, Technopark<br>
                Campus,Karyavattom,<br>
                Trivandrum,Kerala,<br>
                India -695 581 <br><br>
                Ph:- 0471-2527441 <br><br>
                Fax :- 0471-2700442
            </div>
        </div>
      </div>
