<div style="position: relative; height: 100vh; background: url('../../../assets/BG.jpg') no-repeat center; background-size: cover; ">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; color: white; flex-direction: column; justify-content: center; align-items: center;">
        <h1 style="font-size: 400%; font-weight: bold;">NEST DIGITAL</h1>
        <h4 style="font-size: 150%; font-weight: bold;"> Exponential value creation by transforming your legacy Business, Customer and Operation models through Innovative Digital Technologies.</h4>
    </div>

</div>



    <br><br> <br>

    <div class="container">
        <div class="row" style="text-align: center; font-weight: 700;">
            <div class="col">
                <p style="color: rgb(24, 24, 136); font-size: 400%; ">60+</p>
                <p style="color: rgb(28, 109, 163); font-size: 200%;">CLIENTS</p>
            </div>
            <div class="col">
                <p style="color: rgb(24, 24, 136); font-size: 400%;">25</p>
                <p style="color: rgb(28, 109, 163); font-size: 200%;">YEARS OF IT SOLUTIONS</p>
            </div>
            <div class="col">
                <p style="color: rgb(24, 24, 136); font-size: 400%;">6</p>
                <p style="color: rgb(28, 109, 163); font-size: 200%;">COUNTRIES</p>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 text-center">
        <video controls autoplay>
            <source src="../../../assets/nestvdo.mp4" type="video/mp4" >
            Your browser does not support the video tag.
          </video>
        </div>


        <div class="container-fluid mt-5 text-center" style="background-color: #f0f0f0;">
            <div class="row">
                <div class="col" style="text-align: center; padding-top: 100px; font-weight: 500; color: rgb(47, 67, 68);">
                    <p style="font-size: 150%; align-items: center;">We combine our deep domain expertise, reusable digital platforms, & complimentary services to deliver world class solutions that brings outstanding success for our customers</p>
                </div>
                <div class="col"><img src="../../../assets/img.png" alt="" class="img-fluid"></div>
            </div>
        </div>


<div class="container-fluid mt-5 text-center" style="background-color: rgb(90, 90, 133);">
    <h3 style="color: white; font-weight: 300%; font-size: 200%;">LOCATIONS</h3>
    <div class="row">
        <div class="col" style="background-color: #f0f0f0; padding-top: 50px; padding-bottom: 30px;">Primary<br>
            NeST Towers<br>
            
            University junction<br>
            
            Kochi, Kerala 682033, IN</div>
        <div class="col"  style="background-color: #e6e6e6; padding-top: 50px; padding-bottom: 30px;">NeST Tech Park<br>

            Thengode P.O, Edachira Near Info Park<br>
            
            Kakkanad, Kochi, Kerala, IN</div>
    </div><br>
    <div class="row">
        <div class="col" style="background-color: #e6e6e6; padding-top: 50px; padding-bottom: 30px;">Executive Suite X4 - 34<br>

            SAIF Zone, Sharjah P.O. Box 124730, AE</div>
        <div class="col" style="background-color: #f0f0f0; padding-top: 50px; padding-bottom: 30px;">4340 STEVENS CREEK BLVD.<br>

            SUITE 284,<br>
            
            SAN JOSE, CA 95129, US</div>
    </div>
</div>
    <app-carousel></app-carousel>
